[gd_meetup]{
	font-size: 24px;
	font-weight: 500;
	color: #F0F1F1;
}

[gd_meetup_persons] {
	gap: 16px;
}

[gd_meetup_join] {
	padding: 16px;
	border: 1px solid #80B34D;
	color: #80B34D;
}

[gd_meetup_ui_title] {
	margin-top: 80px;
}
